transformers
torch
sentence-transformers
easy_llama
accelerate
keybert
spacy
nltk
langdetect
python-Levenshtein
scikit-learn
sentencepiece
faiss-cpu
sqlalchemy
matplotlib
seaborn
mplcursors
wordcloud
pyperclip
ipython
ipykernel
setuptools
wheel
jq